body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(209, 209, 208);
    background-color: rgb(27, 45, 45);
}

.card {
    padding: 2px;
    border-radius: 20px;
    background-color: rgb(39, 61, 61);
}

.element {
    color: white;
    margin-left: 10px;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1px 6px;
    border: 20px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1em;
    background-color: rgb(55, 84, 84);
    text-decoration: none;
}